.red {
    color: red;
    border: 2px solid red;
}

.green {
    color: green;
    border: 2px solid green;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;    
    padding: 10px;
}

.nav-link-custom {
    color: #999999;
}
  
.nav-link-custom:hover,
.nav-link-custom:active {
    color: white;
}