@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hideScrollBar::-webkit-scrollbar{
  display: none;
}

.hideScrollBar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

/* Add this to your styles */
.fixed-right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 0;
}

/* Adjust the width and other styles as needed */
.fixed-right .modal-content {
  height: 100%;
  width: 300px; /* Set the desired width */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fixed-right .modal-body {
  height: calc(100% - 56px); /* Adjust for modal header and footer height */
  overflow-y: auto;
}

.fixed-right .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Add this to your styles */
.full-height {
  height: 100%;
}

/* Adjust the width and other styles as needed */
.full-height .modal-content {
  height: 100%;
  width: 300px; /* Set the desired width */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.full-height .modal-body {
  height: calc(100% - 56px); /* Adjust for modal header and footer height */
  overflow-y: auto;
}

.full-height .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
